
{% extends "base.html" %}

{% block title %}Edit profile{% endblock title %}

{% block content %}
<h3>Modificar perfíl</h3>

<form method="post">
    <p>
        <strong>Tu nombre:</strong>
        <input type="text" value="{{ user.name }}" name="profile-name">
    </p>

    <p>
        <strong>Tu correo:</strong>
        <input type="email" value="{{ user.email }}" name="profile-email">
    </p>

    <h4>¿Modificar tu contraseña?</h4>

    <p>
        <strong>Tu antigua contraseña</strong>
        <input type="password" name="old-password">
    </p>

    <p>
        <strong>Tu nueva contraseña</strong>
        <input type="password" name="new-password">
    </p>

    <button>Modificar</button>
</form>
{% endblock content %}